<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <title>Items</title>
    <link rel="stylesheet" th:href="@{/css/cardStyle.css}"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/items}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/items/new}">Add new</a>
                </li>
                <form th:action="@{/addCategory}" th:object="${category}" method="post">
                    <div class="input-group">
                        <div class="form-outline">
                            <input name="name" th:field="*{name}" type="search" id="form1" class="form-control"/>
                            <label class="form-label" for="form1">New category</label>
                        </div>
                        <button type="button" class="btn btn-primary">
                        </button>
                    </div>
                </form>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <!--                <a class="btn btn-light my-2 my-sm-0 nav-link" th:href="@{/registration}" type="submit">Register</a>-->
                <a sec:authorize="isAnonymous()" class="btn btn-light my-2 my-sm-0 mr-1 nav-link" th:href="@{/login}"
                   type="submit">Sign in</a>

                <a sec:authorize="isAuthenticated()" th:href="@{/cart}">Cart</a>

                <a sec:authorize="isAuthenticated()" th:href="@{/logout}">Sign out</a>
            </form>
        </div>
    </div>
</nav>

<tbody>
<tr th:if="${items.isEmpty()}">
    <td colspan="2"> No Items Available</td>
</tr>
</tbody>

<div class="row">
    <div class="col-xl-3" th:each="item : ${items}">
        <div class="card" style="width: 15rem; margin-top: 10%; margin-left: 20%">
            <img class="card-img-top" th:src="@{${item.photosImagePath}}" alt="Card image cap">
            <div class="card-body">
                <span class="product_name" th:text="${item.title}">Adidas Originals</span>
                <span class="product_price" th:text="${item.price}"></span>
                <span class="input-group-text" id="basic-addon1">$</span>
                <hr>
                <p class="card-text" th:text="${item.tag}"></p>
                <div class="btn-group hidden-sm-down hidden-md-down" role="group" aria-label="Card buttons">
                    <a th:href="@{/more/{id}(id=${item.id})}" class="btn btn-primary">More</a>

                    <a sec:authorize="hasRole('ROLE_USER')" th:href="@{/addToCard/{id}(id=${item.id})}"
                       class="btn btn-primary">Add to cart</a>

                    <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/item/edit/{id}(id=${item.id})}"
                       class="btn btn-primary">Edit</a>
                </div>
            </div>
        </div>
    </div>
</div>
<body>
<div sec:authorize="isAuthenticated()">
    Authenticated as <span sec:authentication="name"></span></div>
</body>
</body>
</html>